/*
  布局有关的放在tsx代码里，纯样式相关的放在这里 。
  我们自己定义的样式，全部用驼峰式命名。
  #表示id选择器，用于单实例组件。
  .表示类选择器，用于多实例组件。
*/

/* Chat Panel Components */
.ChatPanelInput {
  background-color: white;
  color: black;
  border-color: black;
}

.ChatPanelInput:focus {
  border-color: black;
}

#OutlineHeader {
  padding-left: 0.5rem;       /* px-2 */
  padding-right: 0.5rem;
  padding-top: 0.25rem;       /* py-1 */
  padding-bottom: 0.25rem;
}

#OutlineHeader .Light {
  font-weight: 300;
}

#OutlineHeader #RightActionsWrapper {
  opacity: 0;
}

#OutlineHeader:hover #RightActionsWrapper {
  opacity: 1;
}

/* Resizer Component */
.Resizer {
  width: 6px;
  cursor: col-resize;
  background: transparent;
  z-index: 10;
  user-select: none;
}

.Resizer:hover {
  background-color: #D1D5DB; /* gray-300 */
}

.Resizer.Dragging {
  background-color: #DDDDDD;
}

